//Colors

$white: #fff;

//Charcoal
$charcoal: #333333;
$charcoal-dark: #131313;
$charcoal-light: #464646;
$charcoal-lighter: #595959;
$charcoal-lightest: #6c6c6c;

// Quartz
$quartz: #D1D1D1;
$quartz-dark: #ACACAC;
$quartz-light: #E3E3E3;
$quartz-lighter: #EEEEEE;
$quartz-lightest: #F7F7F7;

// Spacing
$space-xs: .125rem;
$space-s: .25rem;
$space-m: .5rem;
$space-lg: 1rem;
$space-xl: 1.5rem;
$space-xxl: 2rem;

// Typography

h1 {
  font-size: $space-xl;
}

h2 {
  margin: $space-m 0;
  margin-bottom: $space-m;
  font-size: $space-xl;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: $charcoal-dark;
}

h3 {
  margin: $space-m 0;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: $charcoal-dark;
}

p {
  font-size: $space-lg;
  margin:  $space-m 0;
}
